<a href="https://colab.research.google.com/github/BelikMary/Data_Science_platform/blob/main/Belik_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа к лекции 1
Ваше имя: Белик Мария

Ваш адрес электронной почты: BelikMK@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [87]:
#Задание 1
a=int(7)
print('Переменная - целое число:', a)
b=float(9.789)
print('Переменная с плавающей запятой:',b)
c=a+b
print('Переменная - сумма двух предыдущих:',c,', тип данных новой переменной с:',type(c))

Переменная - целое число: 7
Переменная с плавающей запятой: 9.789
Переменная - сумма двух предыдущих: 16.789 , тип данных новой переменной с: <class 'float'>

In [88]:
#Задание 2
a="Привет, мир!"
print('Новое значение переменной а:', a, ', тип данных измененной переменной:', type(a))

Новое значение переменной а: Привет, мир! , тип данных измененной переменной: <class 'str'>

In [89]:
#'Задание 3
str1=str('Мария')
print("Первая строка: ",str1)
str2=str('Белик')
print("Вторая строка: ",str2)
str3=str1+str2
print("Добавим строку к строке:", str3, ", тип данных новой перменной:", type(str3))

Первая строка:  Мария
Вторая строка:  Белик
Добавим строку к строке: МарияБелик , тип данных новой перменной: <class 'str'>

In [90]:
#Задание 4
print("Попробуем добавить строку к переменной с плавающей запятой и увидим ошибку: ")
try:
  new=str1+b
except Exception as exception:
  print(exception)

Попробуем добавить строку к переменной с плавающей запятой и увидим ошибку:
can only concatenate str (not "float") to str

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [73]:
def double_number(a,b):
  doubled_a=a*a
  doubled_b=b*b
  return(doubled_a,doubled_b)

double_number(10,25)

(100, 625)

In [98]:
#Если изменить отступ, то выводится ошибка:
  #def double_number(a,b):
  #doubled_a=a*a
  #doubled_b=b*b
  #return(doubled_a,doubled_b)

In [95]:
#Пробуем напичатать а в самом конце программы:

def double_number(a,b):
    doubled_a=a*a
    doubled_b=b*b
    return(doubled_a,doubled_b)
    print(a)

double_number(10,25)

(100, 625)

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [22]:
name="Кот-ученый"
age=int(18)
spec="Бизнес-информатика"

In [40]:
age_in_months=age*12

age_in_days=age*360

print(f"Имя: {name}, Специальность: {spec}, Возраст: {age} лет, или {age_in_months} месяцев, или {age_in_days} дней.")

Имя: Кот-ученый, Специальность: Бизнес-информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней.

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [46]:
var1=4

def function(var2,var3):
  res=(var2*var3)/var1
  return res

print("Результат функции для первого набора переменных", function(10,100))
print("Результат функции для второго набора переменных", function(9,2.5))
print("Результат функции для третьего набора переменных", function(0.8,10000))

Результат функции для первого набора переменных 250.0
Результат функции для второго набора переменных 5.625
Результат функции для третьего набора переменных 2000.0

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [48]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [62]:
zipped=list(zip(people,books_read))
print(zipped)

for person, books_count in zipped:
      if books_count == 0:
          print(f"{person} не читал ни одной книги!")
      else:
          print(f"{person} прочитал {books_count} книг.")

[('Krishnang', 12), ('Steve', 6), ('Jimmy', 0), ('Mary', 7), ('Divya', 4), ('Robert', 10), ('Yulia', 15)]
Krishnang прочитал 12 книг.
Steve прочитал 6 книг.
Jimmy не читал ни одной книги!
Mary прочитал 7 книг.
Divya прочитал 4 книг.
Robert прочитал 10 книг.
Yulia прочитал 15 книг.

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [64]:
def funct(a, b):
  zipped=list(zip(a,b))
  for a, b in zipped:
      if b == 0:
          print(f"{a} не читал ни одной книги!")
      else:
          print(f"{a} прочитал {b} книг.")

funct(people, books_read)

Krishnang прочитал 12 книг.
Steve прочитал 6 книг.
Jimmy не читал ни одной книги!
Mary прочитал 7 книг.
Divya прочитал 4 книг.
Robert прочитал 10 книг.
Yulia прочитал 15 книг.

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [68]:
def funct(a, b):
  zipped=dict(zip(a,b))
  sorted_zip = sorted(zipped.items(), key=lambda x: x[1], reverse=True)
  top_sorted_zip=sorted_zip[:3]
  for a, b in top_sorted_zip:
      if b == 0:
          print(f"{a} не читал ни одной книги!")
      else:
          print(f"{a} прочитал {b} книг.")

funct(people, books_read)

Yulia прочитал 15 книг.
Krishnang прочитал 12 книг.
Robert прочитал 10 книг.